{% extends "base.html" %}

{% block title %}Zygote - Agents{% endblock %}

{% block content %}
<details>
    <summary>
        Create Agent
    </summary>
    <form action="{{ url_for('http_agents') }}"" method="post">
        <input type="hidden" name="redirect_url" value="{{ url_for('http_agents') }}">
        <span class="form-field">
            <label for="name">Name</label>
            <input type="text" name="name" placeholder="name">
        </span>
        <span class="form-field">
            <label for="data">Data</label>
            <input type="text" name="data" placeholder="data" value="{}">
        </span>
        <span class="form-field">
            <label for="meta">Meta</label>
            <input type="text" name="meta" placeholder="meta" value="{}">
        </span>
        <span class="form-buttons">
            <input type="submit" value="Create">
            <input type="reset" value="Cancel">
        </span>
    </form>
    <hr />    
</details>

<h2>Agents</h2>
<table>
    {% for agent in agents %}
    <tr>
        <td><a href="{{ url_for('http_agent', uuid=agent.uuid) }}">{{agent.name}}</a></td>
        <td><code>{{agent.data}}</code></td>
    </tr>
    {% endfor %}
</table>
{% endblock %}