<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>Zygote</title>
    <meta name="color-scheme" content="dark light only">
    <link rel="stylesheet" href="/static/style/app.css">
</head>

<body>
    <div class="container">
        <div class="header">
            <h1>Zygote</h1>
        </div>
        <hr />
        <div class="content">
            {% block content %}{% endblock %}
        </div>
        <hr />
        <div class="footer">
            <p>Powered by Zycelium</p>
        </div>
    </div>
</body>

</html>
