<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>Zygote</title>
    <meta name="color-scheme" content="dark light only">
    <link rel="stylesheet" href="/static/style/app.css">
</head>

<body>
    <div class="container">
        <div class="header">
            <h1>Zygote</h1>
        </div>
        {% if current_user.is_authenticated %}
        <nav>
            <ul>
                <li>
                    <button><a class="button" href="{{ url_for('http_index') }}">Home</a></button>
                </li>
                <li>
                    <button><a class="button" href="{{ url_for('http_spaces') }}">Spaces</a></button>
                </li>
                <li>
                    <button><a class="button" href="{{ url_for('http_agents') }}">Agents</a></button>
                </li>
                <li>
                    <button><a class="button" href="{{ url_for('http_frames') }}">Frames</a></button>
                </li>
                <li>
                    <form action="/logout" method="post">
                        <input type="submit" value="Logout" />
                    </form>
                </li>
            </ul>
        </nav>
        {% endif %}
        <hr />
        <div class="content">
            {% block content %}{% endblock %}
        </div>
        <hr />
        <div class="footer">
            <p>Powered by Zycelium</p>
        </div>
    </div>
</body>

</html>