{% extends "base.html" %}

{% block title %}Zygote - Frames{% endblock %}

{% block content %}
<details>
    <summary>
        Create Frame
    </summary>
    <form action="{{ url_for('post_frame') }}"" method="post">
        <input type="hidden" name="redirect_url" value="{{ url_for('http_frames') }}">
        <span class="form-field">
            <label for="kind">Kind</label>
            <select name="kind">
                <option value="event">event</option>
                <option value="command">command</option>
                <option value="message">message</option>
            </select>
        </span>
        <span class="form-field">
            <label for="name">Name</label>
            <input type="text" name="name" placeholder="name">
        </span>
        <span class="form-field">
            <label for="data">Data</label>
            <input type="text" name="data" placeholder="data" value="{}">
        </span>
        <span class="form-buttons">
            <input type="submit" value="Create">
            <input type="reset" value="Cancel">
        </span>
    </form>
    <hr />    
</details>

<h2>Frames</h2>
<table>
    {% for frame in frames %}
    <tr>
        <td><a href="{{ url_for('http_frame', uuid=frame.uuid) }}">{{frame.name}}</a></td>
        <td>{{frame.kind}}</td>
        <td><code>{{frame.data}}</code></td>
    </tr>
    {% endfor %}
</table>
{% endblock %}